<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:pm="http://primefaces.org/mobile"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">


    <p:dialog
            closable="true"
            id="templateCopyPaste"
            widgetVar="templateCopyPaste">

        <ui:include src="/pages/fragments/templates/templatesCopyPaste.xhtml"/>

    </p:dialog>

    <h:form id="editPageForm">

        <p:messages id="msgs" autoUpdate="false"/>
        <p:panelGrid columns="4" style="text-align:center;">
            <p:commandButton icon="fa fa-save ui-icon-check" value="" validateClient="true"
                             update="editPageForm msgs" styleClass="ui-btn-inline"
                             actionListener="#{taskController.saveSelected()}"
                             title="#{i18n['label.speichern']}"/>

            <p:commandButton icon="fa fa-upload ui-icon-cloud" styleClass="ui-btn-inline"
                             value=""
                             onclick="PF('timer').pause()"
                             disabled="#{not taskController.hasTaskUnexportedSchedules(taskController.selectedRecord.idExport)}"
                             actionListener="#{taskController.prepareExport(taskController.selectedRecord)}"
                             update=":editPage:exportDialog" title="#{i18n['label.export']}"
                             oncomplete="PF('exportDialog').show();"/>

            <p:commandButton icon="fa fa-cut ui-icon-check" value="" immediate="true"
                             styleClass="ui-btn-inline"
                             oncomplete="PF('templateCopyPaste').show()"
                             title="#{i18n['label.templates']}"/>

            <p:commandButton id="back" update=":first:dataTable:inportedTasksForm :first:dataTable:tasksForm"
                             styleClass="ui-btn-inline" title="#{i18n['label.abbrechen']}"
                             validateClient="false" style="margin-left:10px;"
                             oncomplete="$('#editPage\\:editPageForm\\:showFirstButton').click()"
                             value="" icon="fa fa-remove ui-icon-delete"/>
        </p:panelGrid>


        <p:button id="showFirstButton" outcome="pm:first"
                  title="#{i18n['label.abbrechen']}" style="display: none;" value=""
                  icon="fa fa-remove ui-icon-delete"/>

        <p:panel
                header="#{i18n['label.task']} : #{taskController.selectedRecord.status}"
                toggleable="true" collapsed="false">

            <pm:field>
                <p:outputLabel for="idExport" value="#{i18n['label.task.exportid']}"/>

                <p:inputText
                        rendered="#{empty taskController.selectedRecord.idExport}"
                        id="idExport"
                        value="#{taskController.selectedRecord.idExport}" />

                <p:commandLink
                        rendered="#{not empty taskController.selectedRecord.idExport}"
                        value="# #{taskController.selectedRecord.idExport}"
                        onclick="window.open ('http://192.168.48.212/egroupware/index.php?menuaction=infolog.infolog_ui.edit&amp;info_id=#{taskController.selectedRecord.idExport}', 'Google', config='height=600,width=800,border=0;');"/>
            </pm:field>

            <pm:field>
                <p:outputLabel for="dueDateInput"
                               value="#{i18n['label.duedate']}"/>

                <p:inputText style="width: 195px;" id="dueDateInput"
                             type="date" pattern="dd.MM.yyyy"
                             value="#{taskController.selectedRecord.dueDate}">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                    <p:ajax
                            listener="#{taskController.updateDueDate()}"
                            update="editPageForm msgs" title="#{i18n['label.update.duedate']}"/>
                </p:inputText>
            </pm:field>


            <pm:field>
                <p:outputLabel for="taskTitle" value="#{i18n['label.task.title']}"/>
                <p:inputText required="true" id="taskTitle"
                             readonly="#{not empty taskController.selectedRecord.idExport}"
                             value="#{taskController.selectedRecord.title}"/>
            </pm:field>

            <pm:field>
                <p:outputLabel for="taskDescription"
                               value="#{i18n['label.task.description']}"/>
                <p:inputTextarea id="taskDescription"
                                 readonly="#{not empty taskController.selectedRecord.idExport}"
                                 value="#{taskController.selectedRecord.description}"/>
            </pm:field>
        </p:panel>
        <p:panel header="#{i18n['label.schedules']}" toggleable="true"
                 collapsed="false">
            <p:tabView id="tabViewSchedules">
                <p:tab title="#{i18n['label.current.schedule']}">
                    <p:remoteCommand name="incrementSecond" async="true"
                                     action="#{taskController.incrementSecond()}"
                                     partialSubmit="true" process="@this"/>

                    <center>
                        <h1 class="first">
                            <pe:timer widgetVar="timer" ontimerstep="incrementSecond()"
                                      timeout="2000000000" format="HH:mm:ss" forward="true"
                                      singleRun="false" autoStart="true"/>
                        </h1>
                    </center>
                    <p:panelGrid columns="2">
                        <p:commandButton icon="fa fa-play ui-icon-clock" value=""
                                         title="#{i18n['label.start']}" onclick="PF('timer').start()"
                                         style="margin-right:10px;"/>
                        <p:commandButton icon="fa fa-pause ui-icon-clock" value=""
                                         title="#{i18n['label.start']}" onclick="PF('timer').pause()"
                                         style="margin-left:10px;"/>
                    </p:panelGrid>
                    <pm:field>
                        <p:outputLabel for="scheduleTitle"
                                       value="#{i18n['label.schedule.title']}"/>
                        <p:inputText id="scheduleTitle"
                                     value="#{taskController.schedule.title}"/>
                    </pm:field>
                    <pm:field>
                        <p:outputLabel for="scheduleDescription"
                                       value="#{i18n['label.schedule.description']}"/>
                        <p:inputTextarea id="scheduleDescription"
                                         value="#{taskController.schedule.description}"/>
                    </pm:field>
                </p:tab>
                <p:tab title="#{i18n['label.related.schedules.grouped']}">
                    <p:dataTable
                            value="#{scheduleController.dayTimeTrackerMap.entrySet().toArray()}"
                            var="r">
                        <p:column headerText="#{i18n['label.datum']}">
                            <h:outputText value="#{r.key}"/>
                        </p:column>
                        <p:column headerText="#{i18n['label.stunden']}">
                            <h:outputText value="#{((r.value / 60) / 60)}"/>
                        </p:column>
                    </p:dataTable>
                </p:tab>
                <p:tab title="#{i18n['label.all.related.schedules']}">
                    <p:dataTable value="#{scheduleController.relatedSchedules}"
                                 var="r">
                        <p:column headerText="#{i18n['label.title']}">
                            <p:inputText value="#{r.title}" title="creator: #{r.creator}"/>
                        </p:column>
                        <p:column headerText="#{i18n['label.schedule.description']}">
                            <p:inputTextarea value="#{r.description}" title="creator: #{r.creator}"/>
                        </p:column>
                        <p:column headerText="#{i18n['label.sekunden']}"
                                  style="width:80px;">
                            <p:inputNumber value="#{r.timeUsed}"/>
                            <!-- </p:column>
                        <p:column headerText="#{i18n['label.exportiert']}" style="width:80px;"> -->
                            <p:selectBooleanCheckbox title="#{i18n['label.exportiert']}"
                                                     disabled="#{r.creator ne userBean.user.username}"
                                                     itemLabel="#{i18n['label.exportiert']}" value="#{r.exported}"/>
                        </p:column>
                        <p:column style="width:60px;">
                            <p:commandButton icon="fa fa-save ui-icon-check" value=""
                                             title="#{i18n['label.speichern']}" styleClass="ui-btn-inline"
                                             actionListener="#{scheduleController.save(r)}"
                                             disabled="#{r.creator ne userBean.user.username}"
                                             update=":editPage:editPageForm:msgs"/>
                        </p:column>
                        <p:column style="width:60px;">
                            <p:commandButton icon="fa fa-trash ui-icon-delete" value=""
                                             title="#{i18n['label.loeschen']}"
                                             oncomplete="PF('deleteScheduleDialog').show()"
                                             styleClass="ui-btn-inline"
                                             disabled="#{r.creator ne userBean.user.username}"
                                             actionListener="#{scheduleController.setSelectedRecord(r)}"
                                             update=":editPage:deleteScheduleDialog"/>
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:tabView>
        </p:panel>
    </h:form>

    <p:dialog id="deleteScheduleDialog" widgetVar="deleteScheduleDialog">
        <h:form>
            <center>
                <h:outputText value="#{i18n['text.confirm.delete']}"/>
            </center>
            <p:panelGrid columns="2" style="text-align:center;">
                <p:commandButton value="" icon="fa fa-check ui-icon-check"
                                 styleClass="ui-btn-inline" title="#{i18n['label.loeschen']}"
                                 actionListener="#{scheduleController.deleteSelected()}"
                                 update=":editPage:editPageForm :editPage:editPageForm:msgs"
                                 oncomplete="PF('deleteScheduleDialog').hide();"/>

                <p:commandButton value="" icon="fa fa-remove ui-icon-delete"
                                 styleClass="ui-btn-inline" style="margin-left:10px;"
                                 title="#{i18n['label.abbrechen']}"
                                 oncomplete="PF('deleteScheduleDialog').hide();"/>
            </p:panelGrid>
        </h:form>
    </p:dialog>

    <p:dialog id="exportDialog" widgetVar="exportDialog"
              style="heigth:500px;" closable="false">
        <h:form id="exportForm">

            <p:dataList var="r"
                        emptyMessage="#{i18n['label.export.keine.schedules.gefunden']}"
                        value="#{taskController.toExport.entrySet().toArray()}">
                <p:column>
                    <h:outputText value="#{r.key}"/>
                    <!-- <p:dataList var="d" value="#{r.value}"> -->
                    <p:inputText value="#{r.value.timeInHours}"/>
                    <!-- </p:dataList> -->
                </p:column>
            </p:dataList>

            <p:panelGrid columns="2" style="text-align:center;">
                <p:commandButton value="" icon="fa fa-check ui-icon-check"
                                 title="#{i18n['label.exportieren']}"
                                 actionListener="#{taskController.exportSchedules()}"
                                 update=":editPage:editPageForm :editPage:editPageForm:msgs"
                                 styleClass="ui-btn-inline"
                                 oncomplete="PF('exportDialog').hide();PF('timer').start();"
                                 disabled="#{empty taskController.toExport}"/>

                <p:commandButton value="" icon="fa fa-remove ui-icon-delete"
                                 title="#{i18n['label.abbrechen']}"
                                 update=":editPage:editPageForm" style="margin-left:10px;"
                                 oncomplete="PF('exportDialog').hide();PF('timer').start();"
                                 styleClass="ui-btn-inline"/>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>