<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:pm="http://primefaces.org/mobile"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:p="http://primefaces.org/ui">


    <p:growl id="growlMsg" widgetVar="growlMsg" life="2000" />
    <p:messages id="msgs" showDetail="false" autoUpdate="false" />

    <h:form id="firstForm">

        <pe:remoteCommand name="addToRelated" process="@this"
                          actionListener="#{delegateController.addToDelegated}"
                          update=":first:firstForm :first:msgs">
            <pe:methodSignature parameters="java.lang.String, java.lang.String" />
            <pe:methodParam name="idExport" />
            <pe:methodParam name="relatedUsers" />
        </pe:remoteCommand>
        <pe:remoteCommand name="removeFromRelated" process="@this"
                          actionListener="#{delegateController.removeFromDelegated}"
                          update=":first:firstForm :first:msgs">
            <pe:methodSignature parameters="java.lang.String" />
            <pe:methodParam name="idExport" />
        </pe:remoteCommand>

        <p:panelGrid columns="4" style="text-align:center;">
            <h:panelGroup>
                <p:commandButton icon="fa fa-plus ui-icon-plus" value=""
                                 styleClass="ui-btn-inline"
                                 actionListener="#{taskController.createRecord()}"
                                 update=":editPage:editPageForm"
                                 title="#{i18n['label.new.task.local']}"
                                 oncomplete="$('#first\\:showEditPageButton').click()" />
                <p:commandButton icon="fa fa-server ui-icon-plus" value=""
                                 title="#{i18n['label.new.task.server']}"
                                 styleClass="ui-btn-inline"
                                 onclick="window.open('http://192.168.48.212/egroupware/index.php?menuaction=infolog.infolog_ui.edit&amp;type=task&amp;action=&amp;action_id=&amp;cat_id=', 'Google', config='height=600,width=800,border=0;');" />
            </h:panelGroup>

            <p:commandButton icon="fa fa-calendar ui-icon-info" value=""
                             styleClass="ui-btn-inline"
                             onclick="window.open('calendar.jsf', '_blank');"
                             title="#{i18n['label.calendar.timeline']}" />


            <h:panelGroup>

                <p:commandButton icon="fa fa-cut ui-icon-gear" value=""
                                 title="#{i18n['label.templates']}" update=":queryPage:queryPageForm"
                                 styleClass="ui-btn-inline"
                                 oncomplete="$('#first\\:showTemplatePageButton').click()" />

                <p:commandButton icon="fa fa-code ui-icon-gear" value=""
                                 title="#{i18n['label.tools']}"
                                 styleClass="ui-btn-inline"
                                 onclick="PF('ideDialog').show();" />

                <p:commandButton icon="fa fa-database ui-icon-gear" value=""
                                 title="#{i18n['label.queries']}" update=":queryPage:queryPageForm"
                                 styleClass="ui-btn-inline"
                                 oncomplete="$('#first\\:showQueryPageButton').click()" />

                <p:commandButton icon="fa fa-cogs ui-icon-gear" value=""
                                 title="#{i18n['label.settings']}" update=":settingsPage:settingsPageForm"
                                 styleClass="ui-btn-inline"
                                 oncomplete="$('#first\\:showSettingsPageButton').click()" />
            </h:panelGroup>

            <h:panelGroup>
                <p:commandButton icon="fa fa-refresh ui-icon-refresh" value=""
                                 styleClass="ui-btn-inline" update="first:dataTable" actionListener="#{taskController.initColumnsBySQL()}"
                                 immediate="true"
                                 process="@this"
                                 title="#{i18n['label.refresh']}" />

                <p:commandButton icon="fa fa-sign-out ui-icon-power" value=""
                                 styleClass="ui-btn-inline" actionListener="#{userBean.logout()}"
                                 oncomplete="location.reload();" title="#{i18n['label.logout']}" />
            </h:panelGroup>

        </p:panelGrid>

        <h:panelGroup id="delegate">
            <pm:field
                    rendered="#{not empty delegateController.idExportToDelegateList}">
                <h:outputText value="#{i18n['label.delegate.tasks']}" />
                <p:selectCheckboxMenu id="selectCheckboxMenu"
                                      converter="#{javax.faces.String}"
                                      label="#{i18n['label.select.user']}"
                                      value="#{delegateController.usersToDelegateList}"
                                      title="#{i18n['label.select.user']}">
                    <f:selectItems value="#{delegateController.usernamesExt}" />
                    <p:ajax update="delegateButton" />
                </p:selectCheckboxMenu>

                <p:outputLabel for="selectStatus" value="#{i18n['label.task.status']}" />
                <p:selectOneButton id="selectStatus" value="#{delegateController.delegeteStatus}">
                    <f:selectItem itemLabel="#{i18n['label.aktuellen.status.beibehalten']}" itemValue="#{null}" />
                    <f:selectItems value="#{delegateController.statusList}" var="i"
                                   itemLabel="#{i}" itemValue="#{i}" />
                </p:selectOneButton>

                <ui:repeat value="#{delegateController.idExportToDelegateList}"
                           var="r">
                    <p:commandButton styleClass="ui-btn-inline" type="button"
                                     icon="ui-icon-delete" onclick="removeFromRelated('#{r}')"
                                     value="##{r}" title="#{i18n['label.remove.from.selected']}" />
                </ui:repeat>
                <p:commandButton id="delegateButton"
                                 icon="ui-icon-check fa fa-send"
                                 title="#{i18n['label.delegate']}" value=""
                                 actionListener="#{delegateController.delegate()}"
                                 disabled="#{empty delegateController.usersToDelegateList}"
                                 update=":first:firstForm :first:dataTable :first:msgs"
                                 styleClass="ui-btn-inline" />
            </pm:field>
        </h:panelGroup>
    </h:form>
    <p:tabView id="dataTable">
        <p:tab title="#{i18n['label.tasks.by.query']}">
            <h:form id="inportedTasksForm">
                <p:accordionPanel value="#{taskController.columnsBySQL}" var="x" dynamic="true">
                    <p:tab
                            title="#{x.get('title').size() eq 0 ? '' : x.get('title').get(0)}: #{x.get('data').size()}">
                        <p:dataTable var="r" value="#{x.get('data')}">
                            <p:columns value="#{x.get('columns')}" var="column"
                                       columnIndexVar="colIndex" rendered="#{not (column.property eq 'relatedUsers')}"
                                       colspan="#{column.property eq 'description' ? 3 : 1}">
                                <f:facet name="header">
                                    <h:outputText value="#{column.header}" />
                                </f:facet>

                                <h:outputText rendered="#{column.property eq 'dueDate' and r.get('dueDate') ne 0}"
                                              value="#{helperBean.longToDate(r.get('dueDate'))}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" />
                                </h:outputText>

                                <h:panelGroup rendered="#{column.property eq 'idExport'}">
                                    <h:panelGroup rendered="#{r.get('dueDate') ne 0}">
                                        <i
                                                class="#{helperBean.daysToLate(r.get('dueDate')) &gt; 0 ? 'fa fa-frown-o fa-2x toLate' : helperBean.daysToLate(r.get('dueDate')) &gt; -7 ? 'fa fa-meh-o fa-2x lessThenOneWeek' : 'fa fa-smile-o fa-2x moreThenOneWeek'}"></i>
                                        <br />
                                    </h:panelGroup>
                                    <p:commandLink rendered="#{column.property eq 'idExport'}"
                                                   value="# #{r.get(column.property)}"
                                                   onclick="window.open ('http://192.168.48.212/egroupware/index.php?menuaction=infolog.infolog_ui.edit&amp;info_id=#{r.get(column.property)}', 'Google', config='height=600,width=800,border=0;');" />
                                </h:panelGroup>
                                <h:outputText escape="false"
                                              rendered="#{column.property eq 'description'}"
                                              value="&lt;pre style='white-space: pre-wrap;'&gt;#{fn:substring(r.get(column.property), 0, 160)}...&lt;/pre&gt;" />

                                <h:outputText
                                        rendered="#{not (column.property eq 'idExport') and not (column.property eq 'dueDate') and not (column.property eq 'description') and not (column.property eq 'relatedUsers')}"
                                        value="#{r.get(column.property)}" />
                            </p:columns>

                            <p:column style="width:60px;">
                                <p:commandButton icon="fa fa-clock-o ui-icon-clock" value=""
                                                 actionListener="#{taskController.setSelectedRecord(r)}"
                                                 update=":editPage:editPageForm"
                                                 disabled="#{empty r.get('idExport')}"
                                                 title="#{i18n['label.zeit.erfassen']}"
                                                 oncomplete="$('#first\\:showEditPageButton').click()" />
                            </p:column>

                            <p:column style="width:60px;">
                                <p:commandButton icon="fa fa-upload ui-icon-cloud" value=""
                                                 disabled="#{empty r.get('idExport') or not taskController.hasTaskUnexportedSchedules(r.get('idExport').toString())}"
                                                 actionListener="#{taskController.prepareExport(r)}"
                                                 update=":first:exportDialog" title="#{i18n['label.export']}"
                                                 onclick="PF('timer').pause()"
                                                 oncomplete="PF('exportDialog').show();" />
                            </p:column>

                            <p:column style="width:60px;">
                                <p:commandButton icon="fa fa-share-alt ui-icon-cloud"
                                                 onclick="addToRelated('#{r.get('idExport')}', '#{empty r.get('relatedUsers') ? userBean.user.username : r.get('relatedUsers')}')" value=""
                                                 update="first:firstForm:delegate"
                                                 disabled="#{empty r.get('idExport')}"
                                                 title="#{i18n['label.select.task.to.delegate']} (#{r.get('relatedUsers')})" />
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                </p:accordionPanel>
            </h:form>
        </p:tab>

        <p:tab title="#{i18n['label.search.tasks']}">
            <h:form id="searchForm">
                <pm:field>
                    <p:outputLabel for="searchQuery" value="#{i18n['label.search.tasks']}" />
                    <p:inputText id="searchQuery" required="true" value="#{searchController.searchQuery}" placeholder="#{i18n['label.search.tasks']}" type="search" onkeypress="if (event.keyCode == 13) { document.getElementById('first:firstForm:dataTable:searchBtn').click(); return false; }" />
                </pm:field>

                <pm:field>
                    <p:commandButton icon="fa fa-search"
                                     validateClient="true"
                                     id="searchBtn" style="display:none;"
                                     value="#{i18n['btn.search']}"
                                     update=":first:dataTable:searchForm:searchResult :first:msgs"
                                     actionListener="#{searchController.search()}"/>
                </pm:field>

                <p:accordionPanel id="searchResult" value="#{searchController.sqlToTasks}" var="x" dynamic="true">
                    <p:tab
                            title="#{x.get('title').size() eq 0 ? '' : x.get('title').get(0)}: #{x.get('data').size()}">
                        <p:dataTable var="r" value="#{x.get('data')}" paginator="true" rows="25"
                                     tableStyleClass="ui-table-columntoggle">
                            <p:columns value="#{x.get('columns')}" var="column"
                                       columnIndexVar="colIndex"
                                       colspan="#{column.property eq 'description' ? 3 : 1}">
                                <f:facet name="header">
                                    <h:outputText value="#{column.header}" />
                                </f:facet>

                                <h:outputText rendered="#{column.property eq 'dueDate' and r.get('dueDate') ne 0}"
                                              value="#{helperBean.longToDate(r.get('dueDate'))}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" />
                                </h:outputText>

                                <h:panelGroup rendered="#{column.property eq 'idExport'}">
                                    <h:panelGroup rendered="#{r.get('dueDate') ne 0}">
                                        <i
                                                class="#{helperBean.daysToLate(r.get('dueDate')) &gt;= 0 ? 'fa fa-frown-o fa-2x toLate' : helperBean.daysToLate(r.get('dueDate')) &gt; -7 ? 'fa fa-meh-o fa-2x lessThenOneWeek' : 'fa fa-smile-o fa-2x moreThenOneWeek'}"></i>
                                        <br />
                                    </h:panelGroup>
                                    <p:commandLink rendered="#{column.property eq 'idExport'}"
                                                   value="# #{r.get(column.property)}"
                                                   onclick="window.open ('http://192.168.48.212/egroupware/index.php?menuaction=infolog.infolog_ui.edit&amp;info_id=#{r.get(column.property)}', 'Google', config='height=600,width=800,border=0;');" />
                                </h:panelGroup>
                                <h:outputText escape="false"
                                              rendered="#{column.property eq 'description'}"
                                              value="&lt;pre style='white-space: pre-wrap;'&gt;#{fn:substring(r.get(column.property), 0, 160)}...&lt;/pre&gt;" />

                                <h:outputText
                                        rendered="#{not (column.property eq 'idExport') and not (column.property eq 'dueDate') and not (column.property eq 'description')}"
                                        value="#{r.get(column.property)}" />
                            </p:columns>

                            <p:column style="width:60px;">
                                <p:commandButton icon="fa fa-clock-o ui-icon-clock" value=""
                                                 actionListener="#{taskController.setSelectedRecord(r)}"
                                                 update=":editPage:editPageForm"
                                                 disabled="#{empty r.get('idExport')}"
                                                 title="#{i18n['label.zeit.erfassen']}"
                                                 oncomplete="$('#first\\:showEditPageButton').click()" />
                            </p:column>

                            <p:column style="width:60px;">
                                <p:commandButton icon="fa fa-upload ui-icon-cloud" value=""
                                                 disabled="#{empty r.get('idExport') or not taskController.hasTaskUnexportedSchedules(r.get('idExport').toString())}"
                                                 actionListener="#{taskController.prepareExport(r)}"
                                                 update=":first:exportDialog" title="#{i18n['label.export']}"
                                                 onclick="PF('timer').pause()"
                                                 oncomplete="PF('exportDialog').show();" />
                            </p:column>

                            <p:column style="width:60px;">
                                <p:commandButton icon="fa fa-share-alt ui-icon-cloud"
                                                 onclick="addToRelated('#{r.get('idExport')}', '#{userBean.user.username}');" value=""
                                                 update="first:firstForm:delegate"
                                                 disabled="#{empty r.get('idExport')}"
                                                 title="#{i18n['label.select.task.to.delegate']}" />
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                </p:accordionPanel>
            </h:form>
        </p:tab>
        <p:tab title="#{i18n['label.imported.tasks']}">
            <h:form id="tasksForm">

                <p:commandButton icon="fa fa-trash ui-icon-delete" value=""
                                 disabled="#{empty taskController.records}"
                                 title="#{i18n['label.exportierte.tasks.loeschen']}"
                                 oncomplete="PF('deleteExportedTaskDialog').show()"/>

                <p:dataTable id="tasks" value="#{taskController.records}" var="r"
                             paginator="true" rows="10"
                             tableStyleClass="ui-table-columntoggle">

                    <p:column style="width: 100px;"
                              headerText="#{i18n['label.task.exportid']}">
                        <p:commandLink value="# #{r.idExport}"
                                       onclick="window.open ('http://192.168.48.212/egroupware/index.php?menuaction=infolog.infolog_ui.edit&amp;info_id=#{r.idExport}', 'Google', config='height=600,width=800,border=0;');" />
                    </p:column>

                    <p:column headerText="#{i18n['label.task.title']}">
                        <h:outputText value="#{r.title}" />
                    </p:column>

                    <p:column headerText="#{i18n['label.task.status']}">
                        <h:outputText value="#{r.status}" />
                    </p:column>

                    <p:column headerText="#{i18n['label.duedate']}">
                        <h:outputText value="#{r.dueDate}">
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </h:outputText>
                    </p:column>

                    <p:column colspan="3">
                        <h:outputText escape="false"
                                      value="&lt;pre style='white-space: pre-wrap;'&gt;#{fn:substring(r.description, 0, 160)}...&lt;/pre&gt;" />
                    </p:column>

                    <p:column style="width:60px;">
                        <p:commandButton icon="fa fa-clock-o ui-icon-clock" value=""
                                         actionListener="#{taskController.setSelectedRecord(r)}"
                                         update=":editPage:editPageForm"
                                         title="#{i18n['label.zeit.erfassen']}"
                                         oncomplete="$('#first\\:showEditPageButton').click()" />
                    </p:column>

                    <p:column style="width:60px;">
                        <p:commandButton icon="fa fa-trash ui-icon-delete" value=""
                                         title="#{i18n['label.loeschen']}"
                                         actionListener="#{taskController.setSelectedRecord(r)}"
                                         update=":first:deleteTaskDialog"
                                         oncomplete="PF('deleteTaskDialog').show();" />
                    </p:column>

                    <p:column style="width:60px;">
                        <p:commandButton icon="fa fa-upload ui-icon-cloud" value=""
                                         disabled="#{not taskController.hasTaskUnexportedSchedules(r.idExport)}"
                                         actionListener="#{taskController.prepareExport(r)}"
                                         update=":first:exportDialog" title="#{i18n['label.export']}"
                                         onclick="PF('timer').pause()"
                                         oncomplete="PF('exportDialog').show();" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:tab>
    </p:tabView>
    <p:button style="display:none;" id="showEditPageButton"
              outcome="pm:editPage" value="Go Button" />
    <p:button style="display:none;" id="showQueryPageButton"
              outcome="pm:queryPage" value="Go Button" />
    <p:button style="display:none;" id="showSettingsPageButton"
              outcome="pm:settingsPage" value="Go Button" />
    <p:button style="display:none;" id="showTemplatePageButton"
              outcome="pm:templatesPage" value="Go Button" />


    <!-- </h:form> -->
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/361353561&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <!-- <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/279107182&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/840374&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> -->

    <p:dialog id="deleteTaskDialog" widgetVar="deleteTaskDialog">
        <h:form>
            <center>
                <h:outputText value="#{i18n['text.confirm.delete']}" />
            </center>
            <p:panelGrid columns="2" style="text-align:center">
                <p:commandButton value="" icon="fa fa-check ui-icon-check"
                                 title="#{i18n['label.loeschen']}"
                                 actionListener="#{taskController.deleteSelected()}"
                                 update=":first:dataTable:tasksForm :first:msgs"
                                 oncomplete="PF('deleteTaskDialog').hide();"
                                 styleClass="ui-btn-inline" />

                <p:commandButton value="" icon="fa fa-remove ui-icon-delete"
                                 title="#{i18n['label.abbrechen']}"
                                 oncomplete="PF('deleteTaskDialog').hide();"
                                 styleClass="ui-btn-inline" />
            </p:panelGrid>
        </h:form>
    </p:dialog>

    <p:dialog id="deleteExportedTaskDialog" widgetVar="deleteExportedTaskDialog">
        <h:form>
            <center>
                <h:outputText value="#{i18n['text.confirm.deleteall.exported.tasks']}" />
            </center>
            <p:panelGrid columns="2" style="text-align:center">
                <p:commandButton value="" icon="fa fa-check ui-icon-check"
                                 title="#{i18n['label.loeschen']}"
                                 actionListener="#{taskController.deleteExported()}"
                                 update=":first:dataTable:tasksForm :first:msgs"
                                 oncomplete="PF('deleteExportedTaskDialog').hide();"
                                 styleClass="ui-btn-inline" />

                <p:commandButton value="" icon="fa fa-remove ui-icon-delete"
                                 title="#{i18n['label.abbrechen']}"
                                 oncomplete="PF('deleteExportedTaskDialog').hide();"
                                 styleClass="ui-btn-inline" />
            </p:panelGrid>
        </h:form>
    </p:dialog>

    <p:dialog id="ideDialog" widgetVar="ideDialog" resizable="true">
        <iframe src="http://www.compileonline.com/execute_groovy_online.php" style="width:800px; height: 550px; border-width: 0" />
    </p:dialog>

    <p:dialog id="exportDialog" widgetVar="exportDialog"
              style="heigth:500px;">
        <h:form id="exportForm">

            <p:dataList var="r"
                        emptyMessage="#{i18n['label.export.keine.schedules.gefunden']}"
                        value="#{taskController.toExport.entrySet().toArray()}">
                <p:column>
                    <h:outputText value="#{r.key}" />
                    <!-- <p:dataList var="d" value="#{r.value}"> -->
                    <p:inputText value="#{r.value.timeInHours}" />
                    <!-- </p:dataList> -->
                </p:column>
            </p:dataList>

            <p:panelGrid columns="2" style="text-align:center;">
                <p:commandButton value="" icon="fa fa-check ui-icon-check"
                                 title="#{i18n['label.exportieren']}"
                                 actionListener="#{taskController.exportSchedules()}"
                                 update=":first:dataTable :first:msgs"
                                 styleClass="ui-btn-inline"
                                 oncomplete="PF('exportDialog').hide();PF('timer').start();"
                                 disabled="#{empty taskController.toExport}" />

                <p:commandButton value="" icon="fa fa-remove ui-icon-delete"
                                 title="#{i18n['label.abbrechen']}" update="exportForm"
                                 style="margin-left:10px;" oncomplete="PF('exportDialog').hide();PF('timer').start();"
                                 styleClass="ui-btn-inline" />
            </p:panelGrid>
        </h:form>
    </p:dialog>

    <p:dialog id="eventDialog" widgetVar="eventDialog" width="400">
        <h:form id="eventDialogForm">
            <p:panelGrid columns="1" style="width:400px">
                <h:outputText value="#{taskController.selectedRecord.idExport}" />
                <h:outputText value="#{taskController.selectedRecord.title}" />
                <h:outputText escape="false"
                              value="&lt;pre style='white-space: pre-wrap;'&gt;#{taskController.selectedRecord.description}&lt;/pre&gt;" />
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>