<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:messages id="msg"/>
    <h:form id="settingsPageForm">
        <p:separator/>
        <p:outputLabel value="#{i18n['label.user.credentials']}" style="font-weight:bold;"/>
        <p:separator/>
        <p:outputLabel for="username"
                       value="#{i18n['label.username']}"/>
        <p:inputText id="username" required="true" value="#{userBean.user.username}"/>
        <p:outputLabel for="kuerzel"
                       value="#{i18n['label.kuerzel']}"/>
        <p:inputText id="kuerzel" required="true" value="#{userBean.user.kuerzel}"/>

        <p:outputLabel for="currentSprint"
                       value="#{i18n['label.sprint']}"/>
        <p:inputText id="currentSprint" required="false" value="#{userBean.user.aktuellerSprint}"/>

        <p:outputLabel for="pass"
                       value="#{i18n['label.passwort']}"/>
        <p:password id="pass" required="true" value="#{userBean.user.pass}"/>
        <p:commandButton icon="fa fa-save ui-icon-check" value=""
                         title="#{i18n['label.speichern']}"
                         actionListener="#{userController.save(userBean.user)}" validateClient="true"
                         update=":settingsPage:msg :settingsPage:settingsPageForm"/>

        <p:separator/>
        <p:outputLabel value="#{i18n['label.database.credentials']}" style="font-weight:bold;"/>
        <p:separator/>
        <p:dataList var="r" value="#{propertiesController.propertiesMap.entrySet()}">
            <p:outputLabel id="key#{r.key}" for="value"
                           value="#{r.key}"/>
            <p:inputText id="value" required="true" value="#{propertiesController.propertiesMap[r.key]}"/>
        </p:dataList>
        <p:commandButton icon="fa fa-save ui-icon-check" value=""
                         title="#{i18n['label.speichern']}"
                         actionListener="#{propertiesController.savePropertiesMap()}" validateClient="true"
                         update=":settingsPage:msg :settingsPage:settingsPageForm"/>
    </h:form>

    <p:separator/>
    <p:outputLabel value="#{i18n['label.commandline.tools']}" style="font-weight:bold;"/>
    <p:separator/>
    <pre>#{i18n['label.commandline.tool.createuser']}: java -jar target/time-tracker.jar -DaddUser
#{i18n['label.commandline.tool.setupDatabase']}: java -jar target/time-tracker.jar -DsetupDatabase
#{i18n['label.commandline.tool.createQueries']}: java -jar target/time-tracker.jar -DcreateQueries
#{i18n['label.commandline.tool.createTemplates']}: java -jar target/time-tracker.jar -DcreateTemplates
</pre>

</ui:composition>