<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
>

<h:head>
	<title>task-tracker</title>
	<h:outputStylesheet library="awesome" name="css/font-awesome.css" />
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
</h:head>

<h:body>


	<p:messages id="msgs" showDetail="true" autoUpdate="false" />
	<h:form>     
	    <p:toolbar>
	        <f:facet name="left">
	        	<!-- <p:commandButton icon="fa fa-arrow-left"
					onclick="$(location).attr('href','single.jsf');"
					title="#{i18n['label.zurueck']}" /> -->
	        </f:facet>
	        
	        
	        <f:facet name="right">
	        	<p:commandButton icon="fa fa-refresh"
					actionListener="#{calendarController.initCalendars()}" 
					title="#{i18n['label.refresh']}"
					update=":calendars" />
	        </f:facet>
	    </p:toolbar>
	</h:form>
	<h:form id="calendars">
		<p:tabView>
			<p:tab title="#{i18n['label.calendar']}">
				<p:accordionPanel
					value="#{calendarController.scheduleModelMap.entrySet().toArray()}"
					var="r">
					<p:tab title="#{r.key}: #{r.value.eventCount}">
						<p:schedule value="#{r.value}" aspectRatio="3"
							draggable="false" clientTimeZone="local">
							<p:ajax event="eventSelect"
								listener="#{calendarController.onScheduleEventSelect}"
								update=":eventDialogForm" oncomplete="PF('eventDialog').show()" />
						</p:schedule>
					</p:tab>
				</p:accordionPanel>
			</p:tab>


			<p:tab title="#{i18n['label.timeline']}">
				<p:accordionPanel
					value="#{calendarController.timelineModelMap.entrySet().toArray()}"
					var="r">
					<p:tab title="#{r.key}: #{r.value.events.size()}">
						<p:timeline value="#{r.value}" var="task" height="500px"
							showNavigation="true" timeZone="GMT+2" >
							<p:ajax event="select"
								listener="#{calendarController.onTimelineSelect}"
								update=":eventDialogForm" oncomplete="PF('eventDialog').show()" />
							<h:panelGroup layout="block" style="padding-bottom:5px">
								<h:outputText value="# #{task.idExport} - #{task.title}" />
							</h:panelGroup>
						</p:timeline>
					</p:tab>
				</p:accordionPanel>
			</p:tab>
		</p:tabView>
	</h:form>
	<h:form id="eventDialogForm">
		<p:dialog id="eventDialog" widgetVar="eventDialog" width="800" header="# #{taskController.selectedRecord.idExport} : #{taskController.selectedRecord.status}">
				<p:panelGrid columns="4" style="width:100%" styleClass="ui-noborder">
	
				</p:panelGrid>
				<p:panelGrid columns="1" style="width:100%" styleClass="ui-noborder">
					<p:commandLink
							value="# #{taskController.selectedRecord.idExport} - #{taskController.selectedRecord.title}"
							onclick="window.open ('http://192.168.48.212/egroupware/index.php?menuaction=infolog.infolog_ui.edit&amp;info_id=#{taskController.selectedRecord.idExport}', 'Google', config='height=600,width=800,border=0;');" />

					<p:scrollPanel style="width:780;height:200px">
						<h:outputText escape="false"
							value="&lt;pre style='white-space: pre-wrap;'&gt;#{taskController.selectedRecord.description}&lt;/pre&gt;" />
					</p:scrollPanel>
				</p:panelGrid>
		</p:dialog>
	</h:form>
</h:body>

</html>
