<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">

<f:view renderKitId="PRIMEFACES_MOBILE"/>

<h:head>
    <title>task-tracker</title>
    <h:outputStylesheet library="awesome" name="css/font-awesome.css"/>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>


    <style>
        .toLate {
            color: rgb(230, 0, 0);
        }

        .lessThenOneWeek {
            color: rgb(240, 153, 66);
        }

        .moreThenOneWeek {
            color: rgb(83, 172, 83);
        }

        #editPage\:editPageForm\:dueDateInput > a:nth-child(2) {
            display: none;
        }
    </style>
</h:head>
<h:body>
    <pm:page id="first">
        <pm:content>
            <ui:include src="/pages/fragments/task/overviewTask.xhtml"/>
        </pm:content>
    </pm:page>

    <pm:page id="editPage">

        <pm:content>
            <ui:include src="/pages/fragments/task/editTask.xhtml"/>
        </pm:content>
    </pm:page>

    <pm:page id="queryPage">
        <pm:content>
            <p:toolbar>
                <f:facet name="left">
                    <p:button icon="fa fa-arrow-left" value=""
                              outcome="pm:first" title="#{i18n['label.zurueck']}"/>
                </f:facet>
            </p:toolbar>

            <ui:include src="/pages/fragments/queries/queries.xhtml"/>
        </pm:content>
    </pm:page>

    <pm:page id="settingsPage">
        <pm:content>
            <p:toolbar>
                <f:facet name="left">
                    <p:button icon="fa fa-arrow-left" value=""
                              outcome="pm:first" title="#{i18n['label.zurueck']}"/>
                </f:facet>
            </p:toolbar>

            <ui:include src="/pages/fragments/settings/settings.xhtml"/>
        </pm:content>
    </pm:page>


    <pm:page id="templatesPage">
        <pm:content>
            <p:toolbar>
                <f:facet name="left">
                    <p:button icon="fa fa-arrow-left" value=""
                              outcome="pm:first" title="#{i18n['label.zurueck']}"/>
                </f:facet>
            </p:toolbar>


            <ui:include src="/pages/fragments/templates/templates.xhtml"/>
        </pm:content>
    </pm:page>

</h:body>

</html>
