<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:messages id="msg"/>
    <h:form id="queryPageForm">
        <p:dataList var="r" value="#{queryController.records}">
            <p:outputLabel id="trigger" for="query"
                           value="#{r.trigger.toString()}"/>
            <p:inputTextarea id="query" required="true" value="#{r.query}"/>
            <p:commandButton icon="fa fa-save ui-icon-check" value=""
                             title="#{i18n['label.speichern']}"
                             actionListener="#{queryController.save(r)}" validateClient="true"
                             update=":queryPage:msg :queryPage:queryPageForm"/>
        </p:dataList>
    </h:form>

</ui:composition>