<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <script>
        function copy(element) {
            var id = element.id;
            /* Get the text field */
            var clipBoard = document.getElementById('clipBoard');
            clipBoard.value = document.getElementById(id).textContent;

            /* Select the text field */
            clipBoard.select();

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            $("#confirmCopyPaste").show();
            setTimeout(function () {
                $("#confirmCopyPaste").hide();
            }, 1500);
        }

        function search(element) {
            console.log(element.value);
            $(".copyPasteTemplateTitle").each(function () {
                console.log(this.innerText);
                this.parentNode.style.display = "none";
                if (this.innerText.toLowerCase().indexOf(element.value) != -1) {
                    this.parentNode.style.display = "block";
                }
            });
        }
    </script>

    <div id="confirmCopyPaste" class="ui-messages ui-widget" style="display: none;" aria-live="polite">
        <div class="ui-messages-info ui-corner-all">
            <span class="ui-messages-info-icon"></span>
            <ul>
                <li><span class="ui-messages-info-summary">copied to clipboard</span></li>
            </ul>
        </div>
    </div>
    <div id="copyPasteTemplate">

        <p:inputText onkeyup="search(this);"/>

        <p:accordionPanel style="width: 600px">

            <c:forEach items="#{templateController.records}" var="t">
                <p:tab title="#{t.title}" titleStyleClass="copyPasteTemplateTitle">
                    <p:scrollPanel mode="native" style="height:100px">
                        <pre id="template_#{t.id}" onclick="copy(this)">#{t.content}</pre>
                    </p:scrollPanel>
                </p:tab>
            </c:forEach>


        </p:accordionPanel>
    </div>

    <textarea id="clipBoard" style="opacity: 0;height: 0;"></textarea>
</ui:composition>