<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:pm="http://primefaces.org/mobile"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:tabView id="templates" widgetVar="tabViewTemplates">
        <p:tab title="#{i18n['label.templates']}">

            <h:form id="displayTemplateForm">

                <p:panel header="#{i18n['label.templates']}">
                    <p:dataTable value="#{templateController.records}"
                                 var="r">
                        <p:column headerText="#{i18n['label.title']}">
                            <p:outputLabel value="#{r.title}"/>
                        </p:column>
                        <p:column style="text-align: right;">
                            <p:commandButton icon="fa fa-check-circle ui-icon-check" value=""
                                             title="#{i18n['label.select']}"
                                             styleClass="ui-btn-inline"
                                             immediate="true"
                                             oncomplete="PF('tabViewTemplates').select(1)"
                                             actionListener="#{templateController.setSelectedRecord(r)}"
                                             update=":templatesPage:templates:editTemplateForm"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </p:tab>
        <p:tab title="#{i18n['label.edit.templates']}">

            <h:form id="editTemplateForm">

                <p:messages id="msgs" autoUpdate="false"/>
                <p:panelGrid columns="3" style="text-align:center;">

                    <p:commandButton icon="fa fa-plus ui-icon-check" value="" validateClient="true"
                                     update="editTemplateForm msgs :templatesPage:templates:displayTemplateForm"
                                     styleClass="ui-btn-inline"
                                     actionListener="#{templateController.createRecord}"
                                     immediate="true"
                                     title="#{i18n['label.new.template']}"/>


                    <p:commandButton icon="fa fa-save ui-icon-check" value="" validateClient="true"
                                     update="editTemplateForm msgs :templatesPage:templates:displayTemplateForm"
                                     styleClass="ui-btn-inline"
                                     actionListener="#{templateController.saveSelected()}"
                                     title="#{i18n['label.speichern']}"/>

                    <p:commandButton icon="fa fa-trash ui-icon-check" value="" validateClient="true"
                                     update="editTemplateForm msgs :templatesPage:templates:displayTemplateForm"
                                     styleClass="ui-btn-inline"
                                     disabled="#{templateController.selectedRecord.id eq null}"
                                     actionListener="#{templateController.deleteSelected()}"
                                     title="#{i18n['label.loeschen']}"/>
                </p:panelGrid>

                <p:panel
                        header="#{i18n['label.template']}"
                        toggleable="true" collapsed="false">

                    <pm:field>
                        <p:outputLabel for="templateTitle" value="#{i18n['label.template.title']}"/>
                        <p:inputText required="true" id="templateTitle"
                                     value="#{templateController.selectedRecord.title}"/>
                    </pm:field>

                    <pm:field>
                        <p:outputLabel for="templateDescription"
                                       value="#{i18n['label.template.content']}"/>
                        <p:inputTextarea id="templateDescription"
                                         required="true"
                                         value="#{templateController.selectedRecord.content}"/>
                    </pm:field>
                </p:panel>


            </h:form>
        </p:tab>
    </p:tabView>


</ui:composition>