<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="id" required="true" />
		<composite:attribute name="crudcontroller" required="true" />
		<composite:attribute name="arr"  />
		<composite:attribute name="tableColumns" />
		<composite:attribute name="editDialogGrid" />
	</composite:interface>

	<composite:implementation>
			<p:growl id="msg" widgetVar="msg" sticky="false" life="5000" />
			<h:form id="#{cc.attrs.id}EditForm" style="padding:40px;">
				<p:panelGrid styleClass="ui-noborder" columns="1" style="width:100%;">
				<h:outputText value="#{cc.attrs.tableColumns}"></h:outputText>
					<p:dataTable id="#{cc.attrs.id}s" value="#{cc.attrs.crudcontroller.records}"
						var="r">
						<f:facet name="header">
							<h:outputText value="#{i18n['label.#{cc.attrs.id}s']}" />
						</f:facet>
						
						<ui:include src="#{cc.attrs.tableColumns}"></ui:include>

				        <p:column style="width:105px" >
							<p:commandButton icon="fa fa-edit"
								actionListener="#{cc.attrs.crudcontroller.setSelectedRecord(r)}"
								update=":#{cc.attrs.id}:edit#{cc.attrs.id}Form" onclick="block();PF('edit#{cc.attrs.id}Dialog').show()"
								oncomplete="unblock();" />
							<p:commandButton icon="fa fa-trash" style="margin-left:5px;"
								actionListener="#{cc.attrs.crudcontroller.setSelectedRecord(r)}"
								update=":#{cc.attrs.id}:del#{cc.attrs.id}Form" onclick="block();"
								oncomplete="unblock();PF('del#{cc.attrs.id}Dialog').show()" />
						</p:column>
					</p:dataTable>
				</p:panelGrid>

			</h:form>
			
			<p:dialog id="del#{cc.attrs.id}Dialog" widgetVar="del#{cc.attrs.id}Dialog"
				modal="true" appendTo="@(body)">
				<h:form id="del#{cc.attrs.id}Form">
					<p:panelGrid styleClass="ui-noborder"
						style="width:30%;text-align:center;" columns="1">
						<h:outputText value="#{i18n['text.confirm.delete']}" />
						<p:commandButton icon="fa fa-check"
							actionListener="#{cc.attrs.crudcontroller.deleteSelected}"
							onclick="block();"
							oncomplete="PF('del#{cc.attrs.id}Dialog').hide();unblock();"
							update=":#{cc.attrs.id}:#{cc.attrs.id}EditForm :#{cc.attrs.id}:msg" />
					</p:panelGrid>
				</h:form>
			</p:dialog>
			
			<p:dialog id="edit#{cc.attrs.id}Dialog" widgetVar="edit#{cc.attrs.id}Dialog"
				modal="true" appendTo="@(body)">
				<h:form id="edit#{cc.attrs.id}Form">
					
					<ui:include src="#{cc.attrs.editDialogGrid}"></ui:include>
						
					<p:panelGrid id="editGrid" styleClass="ui-noborder" columns="2" style="width:100%;">
						<p:commandButton icon="fa fa-save" update=":#{cc.attrs.id}:edit#{cc.attrs.id}Form :#{cc.attrs.id}:msg"
							 actionListener="#{cc.attrs.crudcontroller.saveSelected}" />
					</p:panelGrid>
				</h:form>
			</p:dialog>
	  </composite:implementation>

</ui:composition>